**

!bun.lock
!package.json
!.gitignore

!**/package.json
!**/bun.lock
!**/tsconfig.json
!**/vite.config.ts
!**/components.json

!app/**
!public/**

# License files and attributions
!LICENSE
!NOTICES.md
!LICENSES/**

node_modules/**
dist/**
.output/**
