SERVER_IP=localhost
ZEROBYTE_DATABASE_URL=./data/zerobyte.db
RESTIC_CACHE_DIR=./data/restic/cache
ZEROBYTE_REPOSITORIES_DIR=./data/repositories
ZEROBYTE_VOLUMES_DIR=./data/volumes
ENABLE_REMOTE_AGENTS=false
# ZEROBYTE_AGENT_ROOTS=[{"id":"home","label":"Home","path":"~/home"}]
# ZEROBYTE_CONTROLLER_URL=wss://zerobyte.example.com/api/v1/agents/connect
# ZEROBYTE_AGENT_TOKEN=zba1....
APP_SECRET=<openssl rand -hex 32>
BASE_URL=http://*.localhost
TRUST_PROXY=false
PORT=3000
